body{background-image: url(school-supplies.jpg);
	
background-size: cover;
padding : 0;
margin : 0;
}



h1{text-align: center;
	background-color : rgba(255,255,255,.75);
	color: black;
	font-family: calibri;
	font-size: 190%;
	border: 1px solid powderblue; /*pour encadrer le texte d'une épaisseur 1px de couleur bleue*/
}

nav{
	margin-left: 5%;
	margin-right: 5%;
	background-color : rgba(255,255,255,.75);
	padding : 10px;
	border: 1px solid powderblue; /*pour encadrer le texte d'une épaisseur 1px de couleur bleue*/
	
}


article{
	text-align: justify;
	border: dashed;
	color: black;
	margin-top: 5%;
	margin-bottom:5%;
	
	margin-left: 30%;
	margin-right: 5%;
	padding-bottom: 40%;
}

fieldset{
	
	
	background-color: #ffffff;
    width: 700px;
	height : 400px;
	margin: 0 auto 15px auto;
    padding: 10px;
    border: 2px solid #eeab69;
	
	
	
	
	
	
	
}