
h1{text-align: center;
	background-color : rgba(255,255,255,.75);
	color: black;
	font-family: calibri;
	font-size: 190%;
	border: 1px solid powderblue; /*pour encadrer le texte d'une épaisseur 1px de couleur bleue*/
}

body{
	background-color: #eee;
}
