header{display: flex;
	background-color: rgba(255,255,255,.75);
	border-style: solid;/*cette ligne et celle du bas vont ensemble*/
	font-family: verdana;
	font-size: 180%;
	justify-content: space-around;
	margin-bottom: 10px;
	border: 1px solid powderblue;
	padding: 10px;
}
