body{background-image: url(school-supplies.jpg);
background-size: cover;
padding : 0;
margin : 0;
}

h1{display: flex;
justify-content: space-around;
background-color: rgba(255,255,255,.75);
width: middle;
border-bottom : 1px solid powderblue;
height: middle;
padding: 10px;}

h2{text-align: center;
	background-color : rgba(255,255,255,.75);
	color: black;
	font-family: calibri;
	font-size: 190%;
	border: 1px solid powderblue; /*pour encadrer le texte d'une épaisseur 1px de couleur bleue*/
}

nav{
	margin-left:5%;
	margin-right: 5%;
	background-color : rgba(255,255,255,.75);
	padding : 10px;
	border: 1px solid powderblue; /*pour encadrer le texte d'une épaisseur 1px de couleur bleue*/
}

/*Mise en forme du footer*/
footer{padding: 2px;
	text-align: center;
	background-color: white;
	position : fixed;
	bottom : 0;
	width : 100%
}