body{background-image: url(school-supplies.jpg);
background-size: cover;
padding : 0;
margin : 0;
}


nav{margin-top:2%;
	border: outset;
	font-size: 140;
	text-align: center;
	margin-left:5%;
	float: left; /*pour dire que je le veux à gauche*/
	background-color : rgba(255,255,255,.75);
	padding : 10px;
	border: 1px solid powderblue; /*pour encadrer le texte d'une épaisseur 1px de couleur bleue*/
}

div{
	background-color: black;
	font-size: 200%;
	/*border: dashed;*/
	font-family: comic sans ms;
	color: aqua;
	text-align: center;
}