/*Mise en forme du header*/
header{display: flex;
justify-content: space-around;
background-color: rgba(255,255,255,.75);
width: middle;
border-bottom : 1px solid powderblue;
height: middle;
padding: 10px;}


body{background-image: url(school-supplies.jpg);
background-size: cover;
padding : 0;
margin : 0;
}


/*Mise en forme du texte dans le header*/
#divb{color: red;
font-family: algeria;
font-size: 120%;}

/*Mise en forme du h1*/
#connx{
	text-align: center;
	color: black;
	font-family: calibri;
	font-size: 190%;
	background-color : rgba(255,255,255,.75);
	border: 1px solid powderblue; /*pour encadrer le texte d'une épaisseur 1px de couleur bleue*/
	margin-bottom: 50px;
}

/*Mise en forme du champ pour se connecter*/
nav{
	margin-left:5%;
	float: left; /*pour dire que je le veux à gauche*/
	background-color : rgba(255,255,255,.75);
	padding : 10px;
	border: 1px solid powderblue; /*pour encadrer le texte d'une épaisseur 1px de couleur bleue*/
}


#p1{display: inline-block;
width: 50%;
height: 2em;
color: red;
}
#p2{display: inline-block;
width: 40%;
height: 2em;
color: red;
}
#span1{color: blue;
}

#divarticle{
	border: 1px solid powderblue;
	background-color : rgba(255,255,255,.75);
	padding : 10px;
}
#divinscrire {
	text-align : center;
}
/*Mise en forme de l'article*/
article{
	display: inline-list-style;
	color: black;
	font-size: 180%;
	margin-left: 600px;
	margin-right : 5%;
	/*border-left: 1px solid gray; pour dire de mettre une barre grise à gauche*/
}

/*Mise en forme du footer*/
footer{padding: 2px;
	text-align: center;
	background-color: white;
	position : fixed;
	bottom : 0;
	width : 100%
}